.contenedor{background-color:white;
height: 20vh;
margin: 5%;
display: flex;
justify-content: center;
align-items: center;}

h1 { color: blue;
    text-align: center;
    background-color:rgb(118, 118, 118);}

h2{color:blue;
    background-color:rgb(118, 118, 118) }
 
footer{background-color: blueviolet;height: 50px;}


.imagenes{height: 40px;
    display:flex;
justify-content: right;
}

