#imgsuperman{align-self: center;}
h1 { color: blue;
    text-align: center;
    background-color:rgb(118, 118, 118);}
h2{color:blue;
    background-color:rgb(118, 118, 118) }
 footer{background-color: blueviolet;}
.a0800{text-align: left;}
.a {width: 50px;}
.b {width:50px;}
#imagenes{align-items: right;}